In [45]:
import pandas as pd
import numpy as np
from datetime import datetime

In [46]:
# read csv file
citibike_df1 = pd.read_csv('/Users/vrindapatel/Desktop/New York Citi Bike/JC-202402-citibike-tripdata.csv')
citibike_df2 = pd.read_csv('/Users/vrindapatel/Desktop/New York Citi Bike/JC-202403-citibike-tripdata.csv')
citibike_df3 = pd.read_csv('/Users/vrindapatel/Desktop/New York Citi Bike/JC-202404-citibike-tripdata.csv')

# create a DataFrame from the csv files
citibike_df = pd.concat([citibike_df1, citibike_df2, citibike_df3])
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member

In [47]:
# clean up the data
citibike_df = citibike_df.dropna()
citibike_df = citibike_df.drop_duplicates()
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member

In [48]:
# create a new column "Distance" to calculate the distance between start and end stations
citibike_df['Distance'] = np.sqrt((citibike_df['start_lat'] - citibike_df['end_lat'])**2 + (citibike_df['start_lng'] - citibike_df['end_lng'])**2)
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Distance
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual,0.010424
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual,0.010404
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual,0.010382
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member,0.010456
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member,0.010445

In [49]:
import calendar
import pandas as pd

# Convert 'started_at' to datetime if not already
citibike_df['started_at'] = pd.to_datetime(citibike_df['started_at'])

# Create a "Month" column to store the name of the month of the trip
citibike_df['Month'] = citibike_df['started_at'].dt.month.apply(lambda x: calendar.month_name[x])

# Create a "Day" column to store the name of the day of the week of the trip
citibike_df['Day'] = citibike_df['started_at'].dt.day_name()

# Display the first few rows to verify
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Distance,Month,Day
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual,0.010424,February,Monday
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual,0.010404,February,Sunday
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual,0.010382,February,Friday
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member,0.010456,February,Sunday
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member,0.010445,February,Thursday

In [50]:
# Ensure 'started_at' and 'ended_at' are in datetime format
citibike_df['started_at'] = pd.to_datetime(citibike_df['started_at'])
citibike_df['ended_at'] = pd.to_datetime(citibike_df['ended_at'])

# Now split the 'started_at' and 'ended_at' columns into 'Date' and 'Time' columns
citibike_df['Date'] = citibike_df['started_at'].dt.date
citibike_df['Time'] = citibike_df['started_at'].dt.time
citibike_df['End Date'] = citibike_df['ended_at'].dt.date
citibike_df['End Time'] = citibike_df['ended_at'].dt.time

# Display the first few rows to verify
citibike_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Distance,Month,Day,Date,Time,End Date,End Time
0,A841EF9C3617E47B,electric_bike,2024-02-12 16:17:19,2024-02-12 16:23:24,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739701,-74.036831,40.743133,-74.026989,casual,0.010424,February,Monday,2024-02-12,16:17:19,2024-02-12,16:23:24
1,514881A61CAD0A93,electric_bike,2024-02-04 15:04:16,2024-02-04 15:40:14,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739741,-74.036824,40.743133,-74.026989,casual,0.010404,February,Sunday,2024-02-04,15:04:16,2024-02-04,15:40:14
2,511F37086CCC4510,electric_bike,2024-02-16 16:23:16,2024-02-16 16:27:16,Clinton St & Newark St,HB409,Stevens - River Ter & 6 St,HB602,40.737508,-74.035715,40.743133,-74.026989,casual,0.010382,February,Friday,2024-02-16,16:23:16,2024-02-16,16:27:16
3,27A2AA8BDD0D1F6E,classic_bike,2024-02-25 17:05:01,2024-02-25 17:10:53,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739814,-74.036904,40.743133,-74.026989,member,0.010456,February,Sunday,2024-02-25,17:05:01,2024-02-25,17:10:53
4,2808ABEC0903C18E,electric_bike,2024-02-29 15:21:15,2024-02-29 15:26:03,Adams St & 2 St,HB407,Stevens - River Ter & 6 St,HB602,40.739712,-74.036858,40.743133,-74.026989,member,0.010445,February,Thursday,2024-02-29,15:21:15,2024-02-29,15:26:03

In [51]:
# save the cleaned data to a new csv file

citibike_df.to_csv('/Users/vrindapatel/Desktop/New York Citi Bike/citibike-tripdata.csv', index=False)

In [52]:
# Convert CSV file to excel 
citibike_df.to_excel('/Users/vrindapatel/Desktop/New York Citi Bike/citibike-tripdata.xlsx', index=False)